.input_block{
  margin-top: 2%;
}

.label, 
 .input, 
 .textarea{
  display: block;
  width: 80%;
}

.input,
.textarea {
    font: inherit;
    padding: 0.25rem;
    /* margin-bottom: 2%; */
    border: solid 1px #4cb8d9;
    border-radius: 6px;
} 
